@model Bangazon_MVC_InitialSite.Models.ProductType

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
@{
    foreach (var type in ViewBag.Types)
    {
        <div>@type.Type</div>
    }
}
    </div>
</body>
</html>
