@using Bangazon_MVC_InitialSite.Models
@model Bangazon_MVC_InitialSite.Models.Product

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<div class="row">
    @Html.ActionLink("Add Product", "Index", "AddProduct")
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
    <hr />
    
    @foreach (var item in ViewBag.Products)
    {        
        <div class="col-md-4">
            <p>@item.Name</p>
            <p>@item.Price</p>
        </div>
    }

