@using Bangazon_MVC_InitialSite.Models

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<div class="row">
    @Html.ActionLink("Create Product", "Create", "Product")
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
    <hr />
    
    @foreach (Product item in ViewBag.Products)
    {        
        <div class="col-md-4">
            <h3>@Html.ActionLink(item.Name, "Index", "Detail", new { productId = item.ProductId }, null)</h3>
        </div>
    }

