@model Bangazon_MVC_InitialSite.Models.Product

@{
    ViewBag.Title = "Product Detail";
}


    <div>
        <p>Product Name</p>
        @ViewBag.Product.Name
    </div>
    <div>
        <p>Price</p>
        @ViewBag.Product.Price
    </div>
    <div>
        <p>Description</p>
        @ViewBag.Product.Description
    </div>
    <button>Add to Order</button>

