@using Bangazon_MVC_InitialSite.Models
@model Bangazon_MVC_InitialSite.Models.Payment
@{
    ViewBag.Title = "Your Payment Options";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Payment Options</title>

</head>
<body>
    <ul>
        "your payments"
    </ul>
</body>
</html>
